@import url(./reset.css);
@import url(./main.css);

@mixin fsH1($fontsizeH1) {
  font-size: $fontsizeH1;
  line-height: $fontsizeH1 * calc(78px / 64px);
}
@mixin fsSpan($fontsizeH1) {
  font-size: $fontsizeH1 * calc(32px / 64px);
  line-height: $fontsizeH1 * calc(39px / 64px);
}
@mixin mainMarginTop($fontsizeH1) {
  margin-top: $fontsizeH1 * calc(199px / 64px);
}
@mixin mainPicture($fontsizeH1) {
  width: $fontsizeH1 * calc(945px / 64px);
  height: $fontsizeH1 * calc(1104px / 64px);
}

@mixin mainTextInner($fontsizeH1) {
  width: $fontsizeH1 * calc(721px / 64px);
}

@media (max-width: 415px) {
  #main {
    padding-bottom: 35px;
  }
}

#carousel__mini__container {
  margin-top: -135px;
  padding-bottom: 100px;
  height: 336px;
  position: relative;
  left: -20px;
  z-index: 20;
}
#caousel__mini__inner {
  position: relative;
  height: 336px;
  box-sizing: border-box;
}

#carousel__mini__box {
  position: relative;
  width: 637px;
  height: 336px;
}

.slide__mini {
  position: absolute;
  width: 231px;
  height: 222px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.62));
  background: #ffffff;
  border-radius: 19px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
  &:hover {
    cursor: pointer;
  }
  .slide__mini__description {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    display: inline-block;
  }
}
.slider__box {
  position: relative;
}
.mini__carousel__img {
  height: 140px;
  margin: 0 auto;
}
.slide__mini__name {
  svg {
    margin-left: 15px;
  }
}
#btn__container {
  position: absolute;
  left: 58px;
  overflow-x: hidden;
  height: 336px;
}
.btn__mini__slider {
  top: 98px;
  position: absolute;
  &:active {
    top: 99px;
  }
}
#debag__description {
  position: absolute;
  width: 500px;
  height: 30px;
  top: 270px;
}

#main__container {
  display: flex;
}

@media (max-width: 664px) {
  #nav {
    display: block;
  }
  .bascket {
    display: none;
  }
  .phone {
    display: none;
  }
  #nav__menu__list {
    display: none;
  }
  #hamburger__menu {
    display: block;
  }
  .phone__container {
    display: flex;
    justify-content: start;
  }
  .phone__container img {
    height: 22px;
  }
  #main__container {
    justify-content: space-between;
    align-items: center;
  }
}

#main__text {
  max-width: 721px;
}

$screenWidth: 1920px;
#main__img {
  position: relative;
  margin-top: calc(30px / 1920px) * $screenWidth;
  width: calc(894px / 1920px) * $screenWidth;
  height: calc(973px / 1920px) * $screenWidth;
  margin-left: calc(-83px / 1920px) * $screenWidth;
  #cat__light {
    position: absolute;
    left: calc(212px / 1920px) * $screenWidth;
    width: calc(416px / 1920px) * $screenWidth;
    height: calc(762px / 1920px) * $screenWidth;
    background: #ffffff;
    filter: blur(125px);
  }
  #dog__light {
    position: absolute;
    left: calc(420px / 1920px) * $screenWidth;
    top: calc(503px / 1920px) * $screenWidth;
    width: calc(376px / 1920px) * $screenWidth;
    height: calc(431px / 1920px) * $screenWidth;
    background: #ffffff;
    filter: blur(125px);
  }
  #cat__image {
    position: absolute;
    width: calc(601px / 1920px) * $screenWidth;
    height: calc(886px / 1920px) * $screenWidth;
    background-image: url(../img/main/cat.png);
    background-size: calc(601px / 1920px) * $screenWidth;
    background-repeat: no-repeat;
  }
  #dog__image {
    position: absolute;
    top: calc(503px / 1920px) * $screenWidth;
    left: calc(83px / 1920px) * $screenWidth;
    width: calc(811px / 1920px) * $screenWidth;
    height: calc(470px / 1920px) * $screenWidth;
    background-image: url(../img/main/dog.png);
    background-size: calc(811px / 1920px) * $screenWidth;
    background-repeat: no-repeat;
  }
}

h1 {
  font-size: calc(64px / 1920px) * $screenWidth;
  line-height: calc(78px / 1920px) * $screenWidth;
}
#main__text {
  margin-top: calc(199px / 1920px) * $screenWidth;
}
#main__text__box {
  font-weight: 400;
  margin-top: calc(51px / 1920px) * $screenWidth;
  font-size: calc(32px / 1920px) * $screenWidth;
  line-height: calc(39px / 1920px) * $screenWidth;
}
#main__btn {
  font-size: calc(20px / 1920px) * $screenWidth;
  line-height: calc(24px / 1920px) * $screenWidth;
  padding: (calc(23px / 1920px) * $screenWidth)
    (calc(47px / 1920px) * $screenWidth);
  margin-top: calc(41px / 1920px) * $screenWidth;
}

@media (max-width: 1920px) {
  // $screenWidth: calc(100vw/1920px);
  #main__container {
    justify-content: space-between;
  }
  #main__img {
    position: relative;
    margin-top: calc(30vw / 19.2);
    width: calc(894vw / 19.2);
    height: calc(973vw / 19.2);
    margin-left: calc(-83vw / 19.2);
    #cat__light {
      position: absolute;
      left: calc(212vw / 19.2);
      width: calc(416vw / 19.2);
      height: calc(762vw / 19.2);
      background: #ffffff;
      filter: blur(125px);
    }
    #dog__light {
      position: absolute;
      left: calc(420vw / 19.2);
      top: calc(503vw / 19.2);
      width: calc(376 / 19.2);
      height: calc(431vw / 19.2);
      background: #ffffff;
      filter: blur(125px);
    }
    #cat__image {
      position: absolute;
      width: calc(601vw / 19.2);
      height: calc(886vw / 19.2);
      background-image: url(../img/main/cat.png);
      background-size: calc(601vw / 19.2);
      background-repeat: no-repeat;
    }
    #dog__image {
      position: absolute;
      top: calc(503vw / 19.2);
      left: calc(83vw / 19.2);
      width: calc(811vw / 19.2);
      height: calc(470vw / 19.2);
      background-image: url(../img/main/dog.png);
      background-size: calc(811vw / 19.2);
      background-repeat: no-repeat;
    }
  }

  h1 {
    font-size: calc(64vw / 19.2);
    line-height: calc(78vw / 19.2);
  }
  #main__text {
    margin-top: calc(199vw / 19.2);
    width: calc(721vw / 19.2);
  }
  #main__text__box {
    font-weight: 400;
    margin-top: calc(51vw / 19.2);
    font-size: calc(32vw / 19.2);
    line-height: calc(39vw / 19.2);
  }
  #main__btn {
    font-size: calc(27vw / 19.2);
    line-height: calc(32vw / 19.2);
    padding: (calc(23vw / 19.2)) (calc(47vw / 19.2));
    margin-top: calc(41vw / 19.2);
  }
}

@media (max-width: 1029px) {
  #main__container {
    margin-top: 60px;
  }
}

$screenWidth: (100vw * 2);
@media (max-width: 664px) {
  #main__container {
    flex-direction: column;
    margin-top: 10px;
  }
  #main__text {
    width: 90%;
  }
  h1 {
    font-size: calc(64px / 1920px) * $screenWidth;
    line-height: calc(78px / 1920px) * $screenWidth;
  }

  #main__text__box {
    font-weight: 400;
    margin-top: calc(51px / 1920px) * $screenWidth;
    font-size: calc(38px / 1920px) * $screenWidth;
    line-height: calc(46px / 1920px) * $screenWidth;
  }
  #main__btn {
    font-size: 15px;
    line-height: 18px;
    padding: 12px 23px;
    margin-top: 28px;
  }
  #main__img {
    position: relative;
    margin-top: calc(125px / 1920px) * $screenWidth;
    margin-left: calc(100vw * 0.04);
    width: calc(894px / 1920px) * $screenWidth;
    height: calc(973px / 1920px) * $screenWidth;
    #cat__light {
      position: absolute;
      left: calc(212px / 1920px) * $screenWidth;
      width: calc(416px / 1920px) * $screenWidth;
      height: calc(762px / 1920px) * $screenWidth;
      background: #ffffff;
      filter: blur(125px);
    }
    #dog__light {
      position: absolute;
      left: calc(420px / 1920px) * $screenWidth;
      top: calc(503px / 1920px) * $screenWidth;
      width: calc(376px / 1920px) * $screenWidth;
      height: calc(431px / 1920px) * $screenWidth;
      background: #ffffff;
      filter: blur(125px);
    }
    #cat__image {
      position: absolute;
      width: calc(601px / 1920px) * $screenWidth;
      height: calc(886px / 1920px) * $screenWidth;
      background-image: url(../img/main/cat.png);
      background-size: calc(601px / 1920px) * $screenWidth;
      background-repeat: no-repeat;
    }
    #dog__image {
      position: absolute;
      top: calc(503px / 1920px) * $screenWidth;
      left: calc(83px / 1920px) * $screenWidth;
      width: calc(811px / 1920px) * $screenWidth;
      height: calc(470px / 1920px) * $screenWidth;
      background-image: url(../img/main/dog.png);
      background-size: calc(811px / 1920px) * $screenWidth;
      background-repeat: no-repeat;
    }
  }
  #carousel__mini__box {
    width: 352px;
    left: 17px;
    margin: 0 auto;
  }
}

@media (max-width: 1134px) {
  #carousel__mini__container {
    margin-top: 25px;
  }
  #carousel__mini__box {
    left: 17px;
    margin: 0 auto;
  }
}

#scroll__container {
  position: relative;
  top: -80px;
  height: 13px;
  margin: 0 auto;
  margin-top: -13px;
  & #scroll {
    position: relative;
    width: 100%;
    height: 9px;
    background: #d9d9d9;
    border-radius: 58px;
    top: 2px;
    cursor: pointer;
  }
  & #runner {
    position: absolute;
    top: 0;
    width: 111px;
    height: 13px;
    background: rgba(111, 102, 102, 0.83);
    border-radius: 17px;
    cursor: pointer;
  }
}
#btn__mini__slider__left {
  left: 8px;
}
h2 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
#whychoose {
  h2 {
    max-width: 351px;
  }
  #reasons {
    margin-top: 93px;
    #reasons__box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 7px;
    }
  }
}
.reason__container {
  display: flex;
  justify-content: space-between;
  max-width: 465px;
  margin: 0 auto;
  .reason__img {
    min-width: 97px;
    height: 79px;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #lot__of__them {
    background: rgba(147, 196, 43, 0.24);
  }
  #they__are__healthy {
    background: rgba(210, 171, 30, 0.23);
  }
  #they__are__loved {
    background: rgba(194, 50, 231, 0.24);
  }
  .reasons__text {
    margin-left: 7px;
    font-size: 16px;
    line-height: 20px;
    p {
      font-weight: 800;
      color: #000000;
    }
    span {
      font-weight: 600;
    }
  }
}
@media (max-width: 973px) {
  #whychoose {
    h2 {
      margin-top: 0;
    }
    #reasons {
      margin-top: 25px;
      #reasons__box {
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        #reason__loved {
          grid-column: 1/3;
        }
      }
    }
  }
}
@media (max-width: 584px) {
  #whychoose {
    #reasons {
      #reasons__box {
        grid-template-columns: 1fr;
        #reason__loved {
          grid-column: 1;
        }
      }
    }
  }
}

@media (max-width: 353px) {
  .reason__container {
    .reasons__text {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
#catalog {
  position: relative;
  h2 {
    margin-top: 142px;
  }
  #catalog__btn__container {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    flex: 1 1;
  }
  #catalog__slider__box {
    margin-top: 59px;
  }
}
.catalog__btn {
  padding: 9px 15px;
  gap: 20px;
  max-width: 25%;
  min-width: 15%;
  background: rgba(188, 201, 45, 0.51);
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}
#catalog__btn__container {
  flex-shrink: 2;
}
.catalog__btn:hover {
  filter: drop-shadow(0px 4px 4px #000000);
  background: #db1abc;
}
@media (max-width: 584px) {
  #catalog h2 {
    margin-top: 25px;
  }
  #catalog__btn__container {
    flex-direction: column;
    align-items: center;
  }
  .catalog__btn {
    padding: 9px 20px;
    margin-left: 0;
    display: block;
    max-width: 100%;
    width: 90%;
  }
}

#catalog__carousel__box {
  position: relative;
  margin-top: 59px;
  width: 100%;
  height: 649px;
  overflow-x: hidden;
  #catalog__carousel {
    position: relative;
    .catalog__carousel__slide__box {
      position: absolute;
      height: 561px;
      transition: 0.5s;
      .catalog__carousel__slide {
        box-shadow: (0px 4px 4px rgba(23, 21, 21, 0.25));
        background: linear-gradient(
          180deg,
          rgba(181, 240, 13, 0.4) 0%,
          rgba(223, 205, 38, 0.224) 100%
        );
        border-radius: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .card__icons__box {
          margin-left: 55px;
          margin-right: 66px;
          .card__icons {
            width: 100%;
            margin-top: 7px;
            display: flex;
            justify-content: space-between;
            .card__icons__age {
              .icon__age__number {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #ffffff;
                font-weight: 800;
                font-size: 12px;
                line-height: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .icon__age__month {
                font-weight: 800;
                font-size: 12px;
                line-height: 15px;
                margin-left: 4px;
              }
              display: flex;
              align-items: center;
            }
            .card__icons__habits {
              .tray__icon {
                margin-left: 36px;
              }
            }
          }
        }
        .card__foto__box {
          width: 282px;
          height: 290px;
          background: #ffffff;
          border-radius: 30px;
          background-repeat: no-repeat;
          background-position: center;
          margin: 20px auto 0 auto;
        }
        .animal__name {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          margin-top: 27px;
          margin-left: 52px;
        }
        .animal__description {
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          margin: 22px 0 0 52px;
        }
        .animal__division {
          margin: 23px 0 0 60px;
          .animal__kind {
            display: flex;
            align-items: center;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            .circle {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: rgba(125, 51, 143, 0.42);
            }
            .name__of__kind {
              margin-left: 5px;
            }
            .spice__circle {
              margin-left: 18px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: rgba(254, 199, 5, 0.82);
            }
            .spice__name {
              margin-left: 5px;
            }
          }
        }
        .card__bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 17px;
          .animal__price {
            margin-left: 56px;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            color: #bcc92d;
          }
          & img {
            margin-right: 33px;
          }
        }
      }
    }
  }
}
.catalog__btn__carousel {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: rgba(188, 201, 45, 0.51);
  top: 420px;
  cursor: pointer;
  box-shadow: (0px 4px 4px rgba(23, 21, 21, 0.25));
  &:active {
    top: 421px;
  }
  &::before {
    position: relative;
    content: "";
    width: 20px;
    height: 20px;
    border-top: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    display: inline-block;
    top: 17px;
  }
}
#catalog__btn__left {
  left: -65px;
  &::before {
    transform: rotate(225deg);
    left: 20px;
  }
}
#catalog__btn__right {
  left: 1210px;
  &::before {
    transform: rotate(45deg);
    left: 12px;
  }
}
#catalog__carousel__indicator__container {
  width: 100%;
  position: absolute;
  bottom: 0;
  #catalog__carousel__indicator__box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    & > :not(:first-child) {
      margin-left: 13px;
    }
    .indicator__circle {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #d9d9d9;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      transition: 0.5s;
      cursor: pointer;
    }
    .circle__active {
      background: rgba(111, 102, 102, 0.83);
    }
  }
}
#catalog__carousel__box {
  #catalog__carousel {
    .no__animation {
      transition: none;
    }
  }
}
#catalog__slider__box {
  width: 1170px;
}
@media (max-width: 1340px) {
  #catalog {
    width: 822px;
  }
  #catalog__btn__right {
    left: 813px;
  }
}

@media (max-width: 945px) {
  #catalog {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 425px;
    // margin-right: 0;
  }
  #catalog__btn__right {
    left: 435px;
  }
}

@media (max-width: 584px) {
  #catalog__btn__left {
    position: absolute;
    left: -30px;
    top: 649px;
  }
  #catalog__btn__right {
    position: absolute;
    left: 401px;
    top: 649px;
  }
}
@media (max-width: 500px) {
  .catalog__inner {
    width: 260px;
    margin: 0 auto;
  }
  .catalog__btn__carousel::before {
    width: 12px;
    height: 12px;
    top: 5px;
  }
  #catalog__btn__left {
    top: 650px;
    left: 43px;
    width: 27px;
    height: 27px;
    &::before {
      left: 11px;
    }
  }
  #catalog__btn__right {
    top: 650px;
    width: 27px;
    height: 27px;
    left: 350px;
    &::before {
      left: 6px;
    }
  }
  #catalog__carousel__box {
    width: 260px;
    height: 480px;
    margin-bottom: 25px;
    #catalog__carousel {
      .catalog__carousel__slide__box {
        height: 440px;
        .catalog__carousel__slide {
          .animal__division {
            margin-top: 15px;
            margin-left: 25px;
            .animal__kind {
              font-size: 11px;
              line-height: 13px;
              .spice__circle {
                margin-left: 10px;
              }
            }
          }
          .animal__name {
            font-size: 18px;
            line-height: 22px;
            margin-left: 25px;
          }
          .animal__description {
            margin-top: 15px;
            margin-left: 25px;
            font-size: 12px;
            line-height: 14px;
          }
          .card__foto__box {
            width: 200px;
            height: 206px;
            background-size: 90%;
          }
          .card__icons__box {
            margin: 10px 30px 0;
            .card__icons {
              .card__icons__habits {
                img {
                  width: 25px;
                  height: 25px;
                }
                .tray__icon {
                  margin-left: 10px;
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
          .card__bottom {
            .animal__price {
              font-size: 20px;
              line-height: 24px;
              margin-left: 25px;
            }
          }
          .card__bottom img {
            margin-right: 20px;
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }
}
@media (max-width: 424px) {
  #catalog {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 350px) {
  .catalog__inner {
    margin: 0;
  }
  #catalog__btn__right {
    left: 281px;
  }
  #catalog__btn__left {
    left: 0;
  }
}

#play {
  margin-top: 205px;
}
#play_picture {
  margin-top: 36px;
}
#play__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  height: 761px;
  width: 370px;
}
.play__item {
  background-color: burlywood;
  border-radius: 36px;
  width: 370px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: url("../img/search_cursor.png"), pointer;
}
#play__pic1 {
  height: 233px;
}
#play__pic2 {
  height: 498px;
}
#play__pic3 {
  height: 451px;
}
#play__pic4 {
  height: 280px;
}
#play__pic5 {
  height: 309px;
}
#play__pic6 {
  height: 422px;
}
#image__preview {
  opacity: 1;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
#preview__border {
  z-index: 105;
  position: fixed;
  background-color: antiquewhite;
}
#preview__pic {
  z-index: 110;
  position: fixed;
  transform: scale(1, 1);
}
@media (max-width: 1195px) {
  #play__inner {
    width: 100%;
    flex-direction: row;
    height: min-content;
    align-items: start;
    justify-content: center;
  }
  #play__pic3 {
    order: 1;
  }
  #play__pic6 {
    order: 2;
  }
  #play__pic1 {
    order: 3;
  }
  #play__pic4 {
    order: 4;
  }
  #play__pic2 {
    order: 5;
  }
  #play__pic5 {
    order: 6;
  }
}
@media (max-width: 819px) {
  #play {
    margin-top: 60px;
  }
}
#love {
  h2 {
    margin-top: 201px;
  }
}
#love__inner {
  margin-top: 39px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#love__text {
  width: 543px;
  margin-top: 94px;
  padding-right: 10px;
  p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
  }
  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #f01c1c;
    line-height: 40px;
  }
}
#love__image {
  width: 627px;
  #pic__1 {
    width: 300px;
    border-radius: 30px;
    z-index: 10;
    position: relative;
    filter: drop-shadow(0px 4px 4px #080908);
  }
  #pic__2 {
    width: 527px;
    border-radius: 40px;
    z-index: 5;
    margin-top: -22%;
    margin-left: 16%;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(9, 10, 9, 0.99));
  }
}
@media (max-width: 626px) {
  #love {
    h2 {
      margin-top: 70px;
    }
  }
  #love__inner {
    margin-top: 20px;
  }
  #love__text {
    margin-top: 0;
  }
  #love__image {
    width: 90vw;
    #pic__1 {
      width: 40vw;
      border-radius: 10%;
    }
    #pic__2 {
      width: 74vw;
      border-radius: 8%;
    }
  }
}
.footer {
  margin-top: 179px;
  background: linear-gradient(
    93.81deg,
    rgba(255, 245, 3, 0.47) 18.2%,
    rgba(100, 254, 5, 0.47) 100%
  );
}
#footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 54px;
}
#footer__nav {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
}
.footer__item {
  a {
    font-weight: 800;
    font-size: 24px;
    line-height: 60px;
    color: #000000;
  }
}
#footer__img {
  grid-row: 2/4;
  margin-left: -42px;
}
#search__box {
  display: flex;
}
#search__field {
  margin-top: 47px;
  justify-self: end;
}
#search__text {
  width: 408px;
  height: 69px;
  background: #ffffff;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 41px;
  padding-left: 20px;
}
#search__btn {
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#messengers {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
#footer__bottom {
  margin-top: 39px;
  width: 100%;
  background: linear-gradient(270deg, #9cc93d -2.53%, #fff503 101.12%);
  font-weight: 500;
  font-size: 24px;
  line-height: 59px;
  text-align: center;
}
@media (max-width: 999px) {
  #search__text {
    width: 90%;
  }
  .messenger__item {
    width: 20%;
  }
  #footer__img {
    // padding-left: 10px;
    width: 90%;
    justify-self: center;
  }
  #footer__nav {
    a {
      font-size: calc(24vw / 10);
    }
  }
}
@media (max-width: 664px) {
  .footer {
    margin-top: 69px;
  }
  #footer__inner {
    padding-top: 40px;
    grid-template-columns: 1.5fr 0.5fr;
  }
  #footer__item1 {
    .logo__img {
      width: 51px;
    }
    .logo__paw {
      width: 30px;
      left: 11px;
    }
    .logo__text {
      font-size: 16px;
      margin-top: -10px;
    }
  }
  #footer__nav {
    order: 1;
    flex-direction: column;
    align-items: start;
    grid-column: 1/1;
    a {
      font-weight: 800;
      font-size: 16px;
      line-height: 68px;
    }
  }
  #messengers {
    order: 2;
    flex-direction: column;
    margin-top: 0;
    align-items: end;
  }
  .messenger__item {
    width: 50px;
  }
  #search__field {
    order: 3;
    grid-column: 1/3;
    justify-self: auto;
  }
  #footer__img {
    order: 4;
    grid-row: 3/3;
    grid-column: 1/3;
  }
  #search__text, #search__btn {
    height: 47px;
    font-size: 20px;
    img {
      width: 40px;
    }
  }
  #search__btn {
    padding-right: 5px;
  }
  #footer__img {
    margin: 0;
  }
}
